@media (min-width: 1920.00px) {
    .game-title {
        padding-top: 13.5%;
    }
    .user-login-content .game-title{bottom: 250px;}
}

@media (min-width: 1200.98px) {
    .container {
        max-width: 1440px;
    }    
}

@media (max-width: 1440.98px) {
    .game-title {
        padding-top: 21.5%;
    }
    .game-title h1 {
        font-size: 65px;
    }
    .user-login-content .game-title {
        right: 50px;
        bottom: 150px;
    }
    .user-login-welcome {
        text-align: center;
        padding-top: 0px;
    }
}


/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {
    .game-result-btn-list .btn-result {
        margin-top: 5px;
    }
    .box-card-list .box-card {
        max-width: 33.33%;
    }
    .game-title {
        padding-top: 17.5%;
    }
    .game-title h1 {
        font-size: 60px;
    }
    /* .main-frame {
        height: 670px;
    } */
    .login-content {
        bottom: 50px;
    }
    .user-login-content .game-title {
        right: 30px;
        bottom: 170px;
    }
    .stake-default-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .stake-default-content hr {
        display: none;
    }
    .md-box-stake-limit .box-fillup-section {
        min-height: auto;
        padding: 10px;
    }
}

@media (max-width: 1100.98px) {
    .game-title {
        padding-top: 21%;
    }
    .game-title h1 {
        font-size: 50px;
    }
    .bg-element {
        height: 160px;
    }
    .game-item .btn {
        padding: 8px 0px;
    }
    .box-section-heading h5 {
        padding: 5px 10px;
    }
    .dragon-table-img {
        max-width: 650px;
    }
    .black-board {
        height: 400px;
    }
}


/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    .live-tinpatti-section 
    .game-title {
        padding-top: 42%;
        padding-left: 30px;
    }
    .game-title h1 {
        font-size: 35px;
    }
    .game-list .col-md-4 {
        max-width: 50% !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .middle-panel .game-title h1 {
        font-size: 20px;
    }
    .user-login-content .game-title {
        bottom: 170px;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {    
    .gallary-header .game-title h1 {
        font-size: 25px;
    }
    .game-list .col-md-4.col-sm-12 {
        max-width: 100% !important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .rdb-number .checkmark{width: 50px;}
}


/* Responsive css */


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .user-login-welcome{padding-top: 50px;}
    .box-section-heading h5{font-size: 12px;}
    .betslip-table th,.betslip-table tbody td {
        font-size: 12px;
    }
    .stake-limit-content h4 {
        font-size: 12px;
    }
    .dashboard-game-title h1 {
        font-size: 18px;
    }
    .menu-icon {margin: 0 3px;margin-bottom: 15px;padding: 3px 10px;}
    .menu-icon img {
        width: 15px;
    }
    .menu-icon:last-child {
        width: auto;
        margin-bottom: 0px;
        height: 28px;
    }
    .list-menu:before {
        content: '';
        height: 2px;
        width: 106.5%;
        background: #dab77f;
        position: absolute;
        left: -15px;
        bottom: 0px;
    }
    .list-menu {
        margin-top: 10px;
        text-align: center;
        position: relative;
        display: flex;
        justify-content: center;
    }
    .middle-bottom-section {
        margin-bottom: 15px;
    }
    /* .rdb-number .checkmark{
        width: 65px;
    } */
    .game-dashboard .gallary-header{
        border: 2px solid #dab77f;    
        border-bottom: none; 
        flex-wrap: wrap-reverse;
        position: relative;
    }
    .game-dashboard .gallary-header .user-login-section {
        margin-right: 10px;
        max-width: 100%;
    }
    .box-card-list .box-card {
        max-width: 50.0%;
    }
    .dashboard-header-center{
        max-width: 100%;
        margin: 0;
        padding-right: 0;        
    }
    .game-dashboard .gallary-header:after {
        content: '';
        height: 90px;
        position: absolute;
        width: 2px;
        background: #dab77f;
        right: 10px;
    }
    .dashboard-header-center:after{
        display: none;
    }
    .game-right-panel {
        display: none;
    }
    .black-board {
        height: 265px;
    }
    .dragon-table-img {
        max-width: 80%;
    }
    .game-middle-panel {
        max-width: 100%;
    }
    .game-left-panel {
        width: auto;
    }
    .game-play-screen {
        display: block !important;
        margin-bottom: 0px;
        border: 2px solid #dab77f;
        padding: 0 15px;
    }
    .gallary-header .game-title h1:after,
    .gallary-header .game-title h1:before {
        display: none;
    }
    .main-frame {
        background-image: url(../images/login-sm-frame.png);
        background-size: 100% 100%;
        height: calc(100vh - 110px);
    }
    .left-panel,
    .right-panel {
        width: 60px;
        background-image: url(../images/gallary-left-sm-frame.png);
        position: relative;
    }
    .right-panel {
        background-image: url(../images/gallary-right-sm-frame.png);
    }
    .right-panel:after,
    .left-panel:after {
        content: '';
        height: 100%;
        width: 3px;
        border: 2px solid #dab77f;
        position: absolute;
        right: 0px;
        top: 0;
    }
    .left-panel:after {
        left: 0;
        right: inherit;
    }
    .middle-panel {
        width: calc(100% - 100px);
        border-top: none;
    }
    .middle-panel .game-title h1 {
        font-size: 16px;
    }
    .user-login-content .main-frame {
        background-image: url(../images/user-login-sm-frame.png);
    }
    .main-content {
        padding: 22px;
    }
    .login-form {
        max-width: 250px;
        width: 100%;
    }
    .form-footer p {
        font-size: 12px;
        padding: 10px 0px;
        text-align: center;
    }
    .form-footer button,
    .form-footer a {
        width: 100%;
    }
    .game-title {
        padding-top: 100%;
        padding-left: 0;
    }
    .game-title h1 {
        font-size: 35px;
        padding-top: 0px;
    }
    .user-login {
        padding: 12px;
    }
    .user-login-welcome h4 {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .user-login-welcome h1 {
        text-align: center;
        color: #DAB77F;
        text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
    }
    .user-login-content .game-title {
        display: none;
    }
    .user-login-welcome a {
        padding: 10px 80px;
    }
    .footer-text {
        display: none;
    }
    .login-content {
        bottom: 20px;
    }
    .gallary-header {
        border-bottom: 4px solid #dab77f;
        padding: 0 10px;
    }
    .white-box p {
        font-size: 8px;
        padding-left: 5px !important;
    }
    .white-box img {
        width: 20px;
    }
    .gallary-header .game-title {
        max-width: calc(100% - 185px);
        padding: 0;
    }
    .gallary-header .user-login-section .dropdown-menu.show {
        left: -75px !important;
    }
    .user-login-section button,
    .gallary-header .white-box {
        padding: 5px;
        font-size: 8px;
    }
    .gallary-header .game-title h1 {
        font-size: 16px;
        padding: 12px;
    }
    .gallary-header .game-title:after {
        right: 0;
    }
    .user-login-section .dropdown-menu.show {
        left: -30px !important;
        padding: 0;
    }
    .footer-links {
        padding-top: 20px;
    }
    .suceess-box{width: auto;}
    .suceess-box img {width: 20px;}
    .succesfull-box-section {
        position: fixed;
        right: calc(0% + 25px);
        top: calc(0% + 23px);}
}
@media (max-width: 414px) {
    .list-menu:before{    width: 109%;}
}
@media (max-width: 375.98px) {
    .list-menu:before{    width: 110.5%;}
    .rdb-number .checkmark {
        width: 55px;
    }
    .game-title {
        padding-top: 95%;
        padding-left: 0;
    }
}