/* Genral CSS */

body {
    font-family: 'Ruda', sans-serif;
    position: relative;
    background: #000;
    font-size: 14px;
    background-color: #7188A8;
    margin: 0;
    padding: 0;
}

* ::focus {
    outline: none;
    box-shadow: none;
}
.border-top-2{border-top: 2px solid !important;}
.border-orange{border-top-color: #DAB77F !important;}

button:focus {
    outline: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.shadow-none {
    box-shadow: none !important;
}

.text-decoration-none {
    text-decoration: none !important;
}

.f-rye {
    font-family: 'Rye', cursive;
}

.f-color-orange {
    color: #DAB77F !important;
}
.f-dark-theme{
    color: #846F4D !important;
}
.f-theme-color {
    color: #8C6B47;
}

.f-16 {
    font-size: 16px;
}

.mh-auto {
    min-height: auto !important;
}

.bg-orange {
    background-color: #DAB77F;
}

h1 {
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 0;
    line-height: 1.1em;
    font-size: calc(22px + (60 - 22) * ((100vw - 320px) / (1920 - 320)));
}

h2 {
    color: #ffc412;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.05em;
    font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
}

h3 {
    font-weight: 400;
    color: #444444;
    letter-spacing: 0.03em;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
}

h4 {
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1;
    margin-bottom: 0;
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
}

h5 {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
}

h6 {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    display: inline-block;
}

p {
    font-size: 14px;
    line-height: 1.8em;
}


/*::-webkit-scrollbar {
  width: 0;
}
 
::-webkit-scrollbar-track {
  box-shadow: none;
}
 
::-webkit-scrollbar-thumb {
  background-color: transparent;
  outline: none;
}*/


/* main content */

.main-content {
    padding: 35px;
    padding-bottom: 15px;
}

.main-frame {
    background-image: url(../images/login-md-frame.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    height: calc(100vh - 100px);
    width: 100%;
}

.game-title {
    text-align: center;
    padding-top: 11.5%;
    padding-left: 50px;
}

.game-title h1 {
    color: #DAB77F;
    font-size: 80px;
}


/* Form CSS */

.form-control {
    height: 35px;
    color: #BFA180 !important;
    font-size: 14px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.form-control::-webkit-input-placeholder {
    /* Edge */
    color: #BFA180;
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #BFA180;
}

.form-control::placeholder {
    color: #BFA180;
}

.form-control:focus {
    border-color: #BFA180 !important;
}

.login-content {
    position: absolute;
    bottom: 80px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-form {
    max-width: 450px;
    width: 100%;
}


/* Footer */

footer .footer-links a img {
    width: 40px;
}

footer .footer-link a {
    font-size: 14px;
}

.btn {
    text-align: center;
    background: #DAB77F;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    padding: 8px 40px;
    color: #846F4D !important;
    font-family: 'Rye'
}


/* Loged In CSS */

.user-login-content .main-frame {
    background-image: url(../images/user-login-md-frame.png);
}

.user-login-content .game-title {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 70px;
    padding: 0px;
}

.user-login {
    padding: 25px;
}

.white-box {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.user-login-welcome {
    text-align: center;
    padding-top: 50px;
}

.user-login-welcome h4 {
    font-weight: 900;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.user-login-welcome a {
    padding: 10px 150px;
}

.user-login-section button {
    border: none;
    cursor: pointer;
    padding: 9px 30px;
    text-transform: uppercase;
}

.user-login-section a:focus {
    outline: none;
}

.user-login-section .dropdown-menu.show {
    left: -50px !important;
    padding: 0;
}

.user-login-section .dropdown-menu .dropdown-item {
    font-size: 14px;
    color: #dab77f;
}

.user-login-section .dropdown-menu .dropdown-item:hover {
    background: #dab77f;
    color: #89816a;
}


/*Gallary page css */

.gallary-header {
    display: flex;
    justify-content: space-between;
    border: 4px solid #dab77f;
    border-bottom: none;
    padding: 0px 15px;
    align-items: center;
}

.gallery-section {
    position: relative;
    border-bottom: 4px solid #dab77f;
    margin-bottom: 15px;
    min-height: 100vh;
    height: auto;
    border-top: 4px solid #dab77f;
}

.gallery-section:before {
    content: '';
    background-image: url(../images/gallary-left-md-frame.png);
    background-size: cover;
    background-position: top left;
    position: absolute;
    min-height: 100vh;
    width: 270px;
    left: 0;
    top: -4px;
    background-repeat-y: repeat;
    background-repeat-x: no-repeat;
    height: 100%;
}

.gallery-section:after {
    content: '';
    background-image: url(../images/gallary-right-md-frame.png);
    background-size: cover;
    background-position: top right;
    position: absolute;
    min-height: 100vh;
    width: 270px;
    right: 0;
    top: -4px;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    height: 100%;
}

.gallary-header .game-title {
    position: relative;
    padding: 0px;
    max-width: calc(100% - 370px);
    width: 100%;
    position: relative;
}

.gallary-header .game-title h1,
.dashboard-game-title h1 {
    font-size: 32px;
    display: inline-block;
    padding: 15px 25px;
    position: relative;
    border-left: 2px solid #dab77f;
    border-right: 2px solid #dab77f;
}

.gallary-header .game-title h1:before,
.gallary-header .game-title h1:after,
.dashboard-game-title h1:before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    height: 100%;
    border-left: 2px solid #dab77f;
}

.gallary-header .game-title h1:before,
.dashboard-game-title h1:before {
    left: inherit;
    right: 5px;
}

.left-panel,
.right-panel {
    width: 210px;
    background-image: url(../images/gallary-left-md-frame.png);
    background-size: 100% auto;
    background-position: top left;
    height: auto;
    min-height: 100vh;
    background-repeat: repeat-y;
    padding: 20px 15px;
}

.right-panel {
    background-image: url(../images/gallary-right-md-frame.png);
    background-position: top right;
}

.middle-panel {
    overflow-y: auto;
    width: calc(100% - 420px);
    /*max-height: calc(100vh - 50px);*/
    max-height: inherit;
    border-top: 5px solid #dab77f;
}

.gallery-frame {
    border-bottom: 45px solid #dab77f;
    margin-bottom: 15px;
}

.gallary-header .game-title:before,
.left-panel:before,
.right-panel:before {
    content: '';
    position: absolute;
    left: -4px;
    top: 0;
    height: 100%;
    border-left: 4px solid #dab77f;
}

.gallary-header .game-title:after,
.left-panel:after,
.right-panel:after {
    content: '';
    position: absolute;
    right: 8px;
    top: 0;
    height: 100%;
    border-left: 4px solid #dab77f;
}

.left-panel:after {
    right: -2px;
}

.right-panel:after {
    right: -1px;
}

.left-panel:before,
.right-panel:before {
    left: 0px;
}

.gallery-header .game-title h1:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 0;
    height: 100%;
    border-right: 2px solid #dab77f;
    border-right: 2px solid #dab77f;
}

.right-panel .user-login-section .dropdown-menu.show {
    left: -35px !important;
}

.game-list {
    padding: 20px;
}

.game-item {
    transition: .3s all;
}

.bg-element {
    height: 200px;
    padding-top: 30px;
    transition: .3s all;
}

.bg-element img {
    width: 200px;
}

.game-bg-overlay {
    position: absolute;
    bottom: -100px;
    height: 100%;
    width: 80%;
    background-color: #E3C9AC;
    border: 2px solid #DAB77F;
    border-radius: 10px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    transition: .3s all;
}

.game-item:hover .game-bg-overlay {
    bottom: -60px;
}

.game-item:hover .bg-element {
    padding-top: 0px;
}


/* game play dashboard */

.game-dashboard .left-panel {
    width: 100px;
    background-image: none;
}

.dashboard-header .gallary-header .gallary-title {
    max-width: inherit !important;
}

.game-dashboard .gallary-header {
    border-bottom: 4px solid #dab77f;
}

.dashboard-header-center {
    padding: 0px;
    max-width: calc(100% - 460px);
    width: 100%;
    position: relative;
    height: 40px;
    padding-right: 10px;
    margin-left: -20px;
}

.dashboard-header-center:after {
    content: '';
    position: absolute;
    right: 8px;
    top: -13px;
    height: 65px;
    width: 4px;
    background-color: #dab77f;
}

.live-stream-screen {
    display: block;
    background-color: #dab77f;
    padding-top: 10px;
    padding-bottom: 0;
}

.status-deactive {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(180deg, #FF3131 0%, rgba(158, 18, 18, 0.96) 100%);
    position: absolute;
    left: -10px;
    top: 5px;
}
.status-active {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(180deg, #449d44 0%, rgba(92, 184, 92, 0.96) 100%);
    position: absolute;
    left: -10px;
    top: 5px;
}
.game-play-screen {
    min-height: 100vh;
    margin-bottom: 25px;
}

.list-menu {
    margin-top: 20px;
}

.menu-icon {
    padding: 10px 15px;
    background: #DAB77F;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    text-decoration: none !important;
    margin-bottom: 15px;
    display: inline-block;
}

.menu-icon img {
    width: 22px;
}

.menu-icon:last-child {
    width: 52px;
    margin-bottom: 0px;
}

.game-left-panel {
    width: 60px;
}

.game-right-panel {
    width: 110px;
    background-image: url(../images/dashbaord-right-md-frame.png);
    background-size: 100% auto;
    background-position: top left;
    height: auto;
    min-height: 905px;
    background-repeat: repeat-y;
    padding: 20px 15px;
    border-bottom: 4px solid #dab77f;
}

.game-middle-panel {
    max-width: calc(100% - 200px);
    height: auto;
    width: 100%;
    margin-top: 20px;
}

.black-board {
    width: 100%;
    height: 500px;
    background: linear-gradient(180.23deg, #4D4B4B 54.7%, #0C0C0C 99.8%);
}

.black-board-header {
    padding: 10px;
}

.black-board-header .white-box {
    padding: 10px;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.blackboard-header .white-box p {
    font-size: 12px;
}

.succesfull-box-section {
    position: fixed;    
    right: calc(0% + 170px);
    top: calc(0% + 50px);
    z-index: 1;
    display: none;
}

.suceess-box {
    display: flex;
    height: auto;
    /* width: 130px; */
    width: auto;
    background-color: #51a351;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.suceess-box img {
    width: 30px;
    padding-right: 5px;
}
.suceess-box p {
    font-size: 12px;
    line-height: 18px;
}

.dragon-table-img {
    max-width: 795px;
    margin: auto;
    width: 100%;
}

.heading-bottom {
    bottom: 0;
    position: absolute;
    right: 10px;
}

.heading-bottom p {
    font-size: 16px;
}

.box-game-bg {
    margin-top: 20px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.box-section-heading {
    border-bottom: 4px solid #846F4D;
    margin-bottom: 15px;
}

.box-section-heading h5 {
    text-align: center;
    color: #846F4D;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid #846F4D;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px 100px;
    border-bottom: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.box-fillup-section {
    background: #FFDDAE;
    border-radius: 2px;
    min-height: 100px;
    padding: 5px;
    margin-bottom: 15px;
}

.winner-player-section .box-fillup-section {
    min-height: 60px;
}

.on-off-swtich {
    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: inline-block;
    align-items: center;
    padding: 0px 15px;
    padding-left: 20px;
}

.on-off-swtich .status-active {
    top: 6px;
}

.bet-slip-section {
    margin: 20px 0px;
}

.winner-player-section .col-xl-2,.winner-player-section  .col-xl-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.box-col {
    padding-left: 10px;
    padding-right: 10px;
}
.betslip-table th{
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #846F4D;
    font-family: Rye;
    border-bottom: 2px solid #DAB77F !important;
    white-space: nowrap;
    padding: 5px;
}
.betslip-table  thead th,.betslip-table  tbody td {
    border:none;    
}
.betslip-table tbody td {
    padding: 0.25rem .75rem;
    color: #846F4D;
    font-size: 14px;
    vertical-align: middle;
}
.button-list-section{padding: 0px 10px;}
.number-list {text-align: justify; margin-bottom: 5px;}
.rdb-number input {display: none;}
.rdb-number .checkmark {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #846F4D;
    background: #FFFFFF;
    border: 1px solid #846F4D;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 4px 20px 2px;
    width: 55px;
    text-align: center;
    margin: 2px 1px;
  }
  .number-list .rdb-number {
    margin-bottom: 5px;
}
  /* Create a custom radio button */
/* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
  }
   */
  /* On mouse-over, add a grey background color */
  .rdb-number:hover input ~ .checkmark,.rdb-number input:checked ~ .checkmark,.game-result-btn-list a:hover {
    background-color: #846F4D;
    color: #fff !important;
  }
  .play-cancel-btn {
    padding: 5px 10px;
    display: flex;
    padding-top:0px;
}
  .play-cancel-btn .btn{
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
    font-family: Ruda;
    padding: 3px 15px;
    width: 50%;
    box-shadow: none !important;
}
  .btn-cancel{
    background: #FF7575;   
    color: #AF0909 !important;    
    margin-right: 5px;
  }

  .btn-play{
    background: #50D300;    
    color: #2E7801 !important;    
    margin-left: 5px;
  }

  .click-section {
    color: #846F4D;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 4px solid #846F4D;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
    height: 40px;
}
.click-section h5 {
    max-width: calc(100% - 80px);
    width: 100%;
}
.click-section .on-off-swtich h5{
    font-size: 12px;
}
.betslip-table tbody .id-tr, .betslip-table tbody .empty-tr {
    background-color: #ffddae;
    border-bottom: 2px solid #DAB77F !important
}
.betslip-table tbody tr {
    background-color: #fff;
}
.game-result-btn-list a {
    border: 2.5px solid #846F4D;
    box-sizing: border-box;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: #846F4D;
    font-family: 'Rye';
    text-decoration-line: none !important;
    line-height: 25px;
    transition: .3s all;
}
.modal-header{
    background-color: #DAB77F;
    display: flex;
    justify-content: space-between;
}
.live-stream-screen h5{
    display: inline-block;
    margin-left: 50px;
}
/* .playe-game-table .betslip-table tbody tr {
    background-color: inherit;
} */
.playe-game-table .betslip-table tbody tr .player-a-back-td {
    background-color: #9ad4fd;
    color: #005591;
    border-bottom: 1px solid #005591;

}
.playe-game-table .betslip-table tbody tr .player-alay-td {
    background-color: #ffc2cf;
    color: #fd0036;
    border-bottom: 1px solid #fd0036;
}
.playe-game-table .betslip-table .th-player-list {
    width: 30%;
}
.playe-game-table .betslip-table tbody tr td span{
    display: inlin-block;
    font-size: 12px;

}
.playe-game-table .betslip-table .th-back, .playe-game-table .betslip-table .th-lay {
    width: 100px;
    text-align: center;
}

.playe-game-table .betslip-table tbody tr td:first-child{
    border-bottom: 1px solid #dab77f;
}

.playe-game-table .betslip-table tbody tr:last-child .player-alay-td,
.playe-game-table .betslip-table tbody tr:last-child .player-a-back-td,
.playe-game-table .betslip-table tbody tr:last-child td{
    border-bottom: none;
}
.bg-overlay{
    background-color: rgba(0,0,0,.8);
    color: #fff;
    display: flex;
    justify-content: center;    
    position: absolute;
    width: 100%;
    align-items: center;
}
.new-card-opening{    
    justify-content: center;
    height: calc(100% - 25px);
    top: 25px;
    right: 0;
    
}
.box-card-list {
    display: flex;
    flex-wrap: wrap;
}
.box-card-list .box-card {
    max-width: 20%;
    padding: 5px;
    width: 100%;
}
.box-card-list .box-card .box-fillup-section {
    margin-bottom: 0;
}
.box-bg-green{
    background-color: #0A2E14;
}
.box-bg-blue{
    background-color: #060737;
}
.box-bg-red{
    background-color: #7E1825;
}
.box-bg-falsa{
    background-color: #004847;
}
.box-bg-orange{
    background-color: #a23923;
}
.box-pattern:before,.box-pattern:after{
    content: ''; 
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 5px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url(../images/pattern-white.png);
    opacity: .5;
}
.box-pattern:after{
    left: inherit;
    right: 5px;
}
/* .box-bg-green.box-pattern:before,.box-bg-green.box-pattern:after{
    background: url(../images/pattern-green.png);
}
.box-bg-blue.box-pattern:before,.box-bg-blue.box-pattern:after{
    background: url(../images/pattern-blue.png);
}
.box-bg-red.box-pattern:before,.box-bg-red.box-pattern:after{
    background: url(../images/pattern-red.png);
}
.box-bg-falsa.box-pattern:before,.box-bg-falsa.box-pattern:after{
    background: url(../images/pattern-falsa.png);
}
.box-bg-orange.box-pattern:before,.box-bg-orange.box-pattern:after{
    background: url(../images/pattern-white.png);
    opacity: .5;
} */


.text-light-green{
    color: #97CF54;
    font-size: 12px;
}
.box-card-content .text-danger{    
    font-size: 12px;
}
.betslip-table.table {
    margin-bottom: 10px;
}